.caro-board {
  margin: 25px;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 25px;
}
.caro-cell {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  float: 1000;
}
.is-x {
  color: red;
}
.is-o {
  color: blue;
}
.reset-game {
  margin: 25px;
  padding: 15px 25px;
  color: gold;
  background-color: blueviolet;
  border: none;
  outline: none;
}
.alert-winner {
  padding: 15px 25px;
  font-size: 30px;
  color: rgb(224, 152, 16);
}
